*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    color: #000c15;
    background-color: #e8e5e3;
}
/*ヘッダー*/
 .header{
   position: fixed;
   width: 100%;
   z-index: 5;
 } 
 .headerbox{
    background-color: #e8e5e3;
    width: 100%;
    height: 170px;
    text-align: center;
  
  }
  .submenu{
    font-size: 1.5rem;
    margin: 1%;
    position: absolute;
    left: 0;
    top:10px;
  }
  .boxlogo {
    background-color: #e8e5e3;
  }
  .logoimg {
    width: 270px;
    height: 130px;
    margin-top: 1%;
  }
  .boxmenu{
    width: 100%;
    margin: auto;
    background-color: #e8e5e3;
  }
  ul.inner{
    margin: auto;
    width: 60%;
    border-bottom: solid black 2px;
  }
  ul.inner a{
    text-decoration: none;
    color: #07351c;
  }
  ul.inner a:hover{
    color: teal;

  }
  ul.inner li{
    display: inline-block;
    font-size: 2rem;
    padding: 0 4%;
    font-family: 'Amiri', serif;
  }
  ul.subcontact li{
    writing-mode: vertical-rl;
    font-size: 2rem;
    color: black;
    z-index: 2;
    padding: 1%;
    list-style: none;
  }
  /*メイン*/
  .mainbox{
    padding-top: 200px;
    width: 100%;
    overflow: hidden;
  }
  .slider{
    margin: 0 auto;
    width: 110%;
    z-index: 3;
    opacity: 0;
    transition: 3s;
}
  .slick-initialized{
    opacity: 1;
}
  .slider img{
    text-align: center;
    height: auto;
    width: 100%;
    z-index: 3;
    border: outset 5px rgba(236, 236, 236, 0.29);
    box-shadow: 20px 20px 20px rgba(85, 83, 83, 0.29);
}
  .slider div{
    padding: 0 1%;
    margin-right: 110px;
  }
.slider2{
  margin: 0 auto;
  width: 20%;
  z-index: 3;
}
.slider2 img{
  text-align: center;
  height: auto;
  width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow{
  position: absolute;
  top: 40%;
  margin-top: -15px;
}
.prev-arrow{
  left: 150px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid black;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  z-index: 4;
}
.next-arrow{
  right: 150px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 20px solid black;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  z-index: 5;
}
@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}
  
 

  
 























 /*スマホ*/
   