*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    color: #000c15;
    background-color: #e8e5e3;
}
/*ヘッダー*/
 .header{
   position: fixed;
   width: 100%;
   z-index: 1000;
 } 
 .headerbox{
    background-color: #e8e5e3;
    width: 100%;
    height: 170px;
    text-align: center;
    z-index: 1000;
  }
  .submenu{
    width: 100%;
    font-size: 1.5rem;
    margin: 1%;
    position: absolute;
    left: 0;
    top:10px;
    z-index: 10;
  }
  .boxlogo {
    background-color: #e8e5e3;
    width: 1000px;
    margin: auto;
  }
  .logoimg {
    width: 270px;
    height: 130px;
    margin-top: 1%;
  }
  .logoimg:hover{
    -webkit-filter: hue-rotate(180deg);
     -moz-filter: hue-rotate(180deg);
     -o-filter: hue-rotate(180deg);
     -ms-filter: hue-rotate(180deg);
     filter: hue-rotate(100deg);
  }
  .boxmenu{
    width: 100%;
    margin: auto;
    background-color: #e8e5e3;
  }
  ul.inner{
    margin: 0 auto;
    width: 1000px;
    border-bottom: solid black 1px;
    display: flex;
  }
  ul.inner a{
    text-decoration: none;
    color: #07351c;
    display: block;
  }
  ul.inner a:hover{
    color: teal;
  }
  ul.inner li{
    font-size: 2rem;
    padding: 0 4%;
    font-family: 'Amiri', serif;
    margin: auto;
    list-style: none;
    position: relative;
    transition: 0.5s;
    box-sizing: border-box;
  }
  ul.inner li:hover{
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    transform: translateY(-4px);
    text-decoration: underline;
  }
  ul.inner li ul{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0
  }
  ul.inner li ul li {
      overflow: hidden;
      width: 100%;
      height: 0;
      color: #fff;
      transition: .2s;
      -moz-transition: .2s;
      -webkit-transition: .2s;
      -o-transition: .2s;
      -ms-transition: .2s;
      transition: .2s;
    }
  ul.inner li:hover ul {
      display: block;
    }
  ul.inner li:hover ul li{
      overflow: visible;
      height: 38px;
    }
  ul.inner li:hover ul li:first-child{
      border-top: 0;
    }
  ul.inner li:hover ul li:last-child{
      border-bottom: 0;
    }
  ul.inner li ul li a {
      padding: 13px 15px;
      background: rgba(255, 255, 255, 0.815);
      text-align: left;
      font-size: 12px;
      font-weight: normal;
    }
  ul.inner li:hover > ul > li {
      overflow: visible;
      height: 40px;
    }
  .contactbox{
    width: 150px;
    z-index: 50;
  }
  ul.subcontact{
    width: 150px;
    margin: 1%;
    position: relative;
    z-index: 1;
  }
  ul.subcontact li{
    font-size: 2rem;
    color: black;
    padding: 6% 0;
    list-style: none;
    display: flex;
    margin: 20px;
    z-index: 1;
  }
  ul.subcontact li:hover a{
    transform: translateY(-4px);
    height: 25px;
    width: 120px;
    display: block;
    background-color: rgba(255,255,255,0.7);
    position: relative;
    top: 5px;
    left: 8px;
    font-size: 1.4rem;
    border-radius: 0 10px 10px 0;
    color:teal 1.2rem;
  }
  ul.subcontact li a{
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    display: none;
    font-size: 1.2rem;
    color: #07351c;
    z-index: 11;
  }
   
  /*メイン*/
  .mainbox{
    padding-top: 165px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    box-sizing:border-box；
  }
  .slider{
    margin: 0 auto;
    width: 1000px;
    height: auto;
    opacity: 0;
    transition: 3s;
}
  .slick-initialized{
    opacity: 1;
} 
  .slider img{
    text-align: center;
    width: 1100px;
    height: 500px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    margin: auto;
    
}
  .sliderimg{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2% 0;
    object-fit: cover;
    position: center center;
  }

/*slick setting*/

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow{
  position: absolute;
  top: 45%;
  margin-top: -15px;
}
.prev-arrow{
  left: 20px;
  width: 0;
  height: 0;
  border: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid rgb(185, 185, 185);
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  z-index: 30;
}
.prev-arrow:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
}
.next-arrow{
  right: 20px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 20px solid rgb(185, 185, 185);
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}
.feature{
  width: 1000px;
  height: 500px;
  margin: auto;
  box-sizing:border-box

}
.featurebox{
  border-top: solid black 2px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.featurebox h2{
  width: 100%;
  font-size: 2.4rem;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
  padding-top: 2%;
  border-bottom: dashed black 1px;
  padding-bottom: 2%;
  background-color: rgb(212, 196, 172);
}
ul.tab_area{
  width: 200px;
  position: absolute;
  top: 30px;
  right: 20px;
  display:inline-flex;
  border-left: dashed black 1px;
}
ul.tab_area li{
  width:200px;
  color:black;
  font-size:1.6rem;
  cursor:pointer;
  transition:ease 1s opacity;
  font-family: 'Amatic SC', cursive;
  display: block;
  padding: 0 2%;
  border-right: dashed black 1px;
} 
.hide{
  display: none;
}
.tab_panel{
  width: 1000px;
  padding: 4% 0;
}
.tab_panel h3{
  width: 80px;
  background-color: rgb(109, 141, 201);
  font-size: 1.6rem;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 110px;
  left: 25px;
}
.tab_panel h4{
  width: 80px;
  background-color: rgb(202, 108, 202);
  font-size: 1.6rem;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 110px;
  right: 375px;
}
.tab_panel h5{
  width: 80px;
  background-color: rgb(202, 108, 202);
  font-size: 1.6rem;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 110px;
  left: 25px;
}
ul.slider2{
  width: 100%;
  padding: 4% 0;
  margin: auto;
}
ul.slider4{
  width: 480px;
  padding: 4% 0;
  position: absolute;
  top: 100px;
  left: 0;
}
ul.slider5{
  width: 480px;
  padding: 4% 0;
  position: absolute;
  top: 100px;
  right: 0;
}
.sliderimg2{
  width: 100%;
  height: auto;
}
ul.slider2 li{
  padding: 0 25px;
  margin: auto;
}
ul.slider2 img{
  margin: auto;
  text-align: center;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
.sliderimg4{
  width: 100%;
  height: auto;
}
ul.slider4 li{
  padding: 0 20px;
  margin: auto;
}
ul.slider4 img{
  margin: auto;
  text-align: center;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
ul.slider5 li{
  padding: 0 20px;
  margin: auto;
}
ul.slider5 img{
  margin: auto;
  text-align: center;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide2-arrow{
  position: absolute;
  top: 45%;
  margin-top: -15px;
}
button:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
}
.prev2-arrow{
  left: 0;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 7;
}
.next2-arrow{
  right: 0;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.staffstyle{
  width: 1000px;
  height: 500px;
  margin: auto;
  box-sizing:border-box
  
}
.stylebox{
  border-top: solid black 2px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.stylebox h2{
  width: 1000px;
  font-size: 2.4rem;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
  background-color: rgb(212, 196, 172);
  padding: 2% 0;
  border-bottom: dashed black 1px;
}
ul.slider3{
  width: 1000px;
  padding: 9% 0;
}
ul.sliderimg3{
  width: 100%;
  height: auto;
}
ul.slider3 li{
  padding: 0 8px;
  margin: auto;
}
ul.slider3 img{
  margin: auto;
  text-align: center;
  height: 185px;
  width: 135px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
ul.slider6{
  width: 500px;
  margin: auto;
  padding: 9% 0;
  position: absolute;
  top: 90px;
}
ul.sliderimg6{
  width: 100%;
  height: auto;
}
ul.slider6 li{
  padding: 0 8px;
  margin: auto;
}
ul.slider6 img{
  margin: auto;
  text-align: center;
  height: 185px;
  width: 135px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
ul.slider7{
  width: 500px;
  margin: auto;
  padding: 8% 0;
  position: absolute;
  top: 90px;
}
ul.sliderimg7{
  width: 100%;
  height: auto;
}
ul.slider7 li{
  padding: 0 8px;
  margin: auto;
}
ul.slider7 img{
  margin: auto;
  text-align: center;
  height: 185px;
  width: 135px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
ul.tab_area2{
  width: 200px;
  position: absolute;
  top: 30px;
  right: 20px;
  display:inline-flex;
  border-left: dashed black 1px;
}
ul.tab_area2 li{
  width:200px;
  color:black;
  font-size:1.6rem;
  cursor:pointer;
  transition:ease 1s opacity;
  font-family: 'Amatic SC', cursive;
  display: block;
  padding: 0 2%;
  border-right: dashed black 1px;
} 
.hide2{
  display: none;
}
.tab_panel2{
  width: 1000px;
}
.tab_panel2 h3{
  width: 80px;
  background-color: rgb(109, 141, 201);
  font-size: 1.6rem;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 120px;
  left: 60px;
}
.tab_panel2 h4{
  width: 80px;
  background-color: rgb(202, 108, 202);
  font-size: 1.6rem;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 120px;
  right: 405px;
}
.tab_panel2 h5{
  width: 80px;
  background-color: rgb(202, 108, 202);
  font-size: 1.6rem;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 120px;
  left: 60px;
}
button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide3-arrow{
  position: absolute;
  top: 45%;
  margin-top: -15px;
}
.prev3-arrow{
  left: -30px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 7;
}
.next3-arrow{
  right: -30px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.news{
  width: 1000px;
  margin: auto;
}
.news-2{
   width: 100%;
   border-top: solid black 1px;
   margin: auto;
  }
.newsbox{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  padding: 5% 0;
}
.newsimg1{
  width: 250px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  left: 2px;
  border-radius: 5px;
}
.newsimg1:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
  border: solid black 2px;
}
.newsimg1 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.newsimg2{
  width: 250px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  bottom: 0;
  left: 2px;
  border-radius: 5px;
}
.newsimg2:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
  border: solid black 2px;
}
.newsimg2 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.newsimg3{
  width: 250px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  top: 0;
  right: 25px;
  border-radius: 5px;
}
.newsimg3:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
  border: solid black 2px;
}
.newsimg3 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.newsimg4{
  width: 250px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  top: 330px;
  right: 25px;
  border-radius: 5px;
}
.newsimg4:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
  border: solid black 2px;
}
.newsimg4 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.news h2{
  width: 1000px;
  font-size: 2.4rem;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: auto;
  background-color: rgb(212, 196, 172);
  border-bottom: dashed black 1px;
  padding: 2% 0;
}
.newscontent{
  width: 750px;
  height: 650px;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  left: 10px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50000;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 20000;
}
.modal__content{
  width: 1000px;
  padding: 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  z-index: 25000;
}
.bignewsimg1{
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .7s;
  position: absolute;
  top: 200px;
  left: 2px;
  border-radius: 5px;
}
.bignewsimg1 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.bignewsimg2{
  width: 600px;
  height: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  top: 200px;
  left: 2px;
  border-radius: 5px;
}
.bignewsimg2 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.bignewsimg3{
  width: 600px;
  height: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  top: 200px;
  left: 300px;
  border-radius: 5px;
}
.bignewsimg3 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.bignewsimg4{
  width: 600px;
  height: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  top: 200px;
  left: 300px;
  border-radius: 5px;
}
.bignewsimg4 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.newssub{
  background-color: white;
  width: 700px;
  height: 650px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin-right: 2%;
}

/*コンセプト*/
.conseptbox{
   width: 1000px;
   margin: auto;
   text-align: center;
}
 .conseptbox img{
   width: 1000px;
   height: 500px;
 }
 .conseptbox h1{
   font-size: 2.8rem;
 }
 .consept{
   width: 1000px;
   padding: 3% 0;
 }
 .consept h2{
   font-size: 3.6rem;
 }
 .consept p{
   font-size: 2rem;
 }
 /*フューチャー*/
 /*all*/
 .feature_allbox{
  width: 1000px;
  height: 800px;
  margin: 0 auto;
  padding: 2% 0;
}
.feature_all{
  width: 1000px;
  margin: auto;
}
.feature_all h3{
  width: 1000px;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
  padding: 2% 0;
  background-color: rgb(212, 196, 172);
  border-bottom: solid black 2px
}
.topturn2{
  width: 1000px;
  padding: 1% 0;
  border-top: dashed black 1px;
  border-bottom: dashed black 1px;
  display: inline-flex;
  margin: auto;
  margin-top: 1%;
}
.features_all{
  width: 850px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 150px
}
.features_all h4{
  width: 200px;
  margin-bottom: 1%;
  font-size: 4rem;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top:20px;
  left: 40px;
}
.features_all h5{
  width: 250px;
  margin:0 auto;
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-left: dashed black 1px;
  border-right: dashed black 1px;
  position: absolute;
  top: 40px;
  left: 150px;
}
.features_men{
  width: 600x;
  height: 600px;
  border-bottom: dashed black 1px;
}
.tab_wrap2{
  width: 1000px;
  position: relative;
}
.searchbox{
  width: 1000px;
  padding-bottom: 300px;
}
ul.tab_area3{
  width: 200px;
  position: absolute;
  top: 0px;
  left: 20px;
}
ul.tab_area3 li{
  width:100px;
  height: 100px;
  color:black;
  font-size:1.6rem;
  cursor:pointer;
  transition:ease 1s opacity;
  font-family: 'Amatic SC', cursive;
  display: block;
  border-right: dashed black 1px;
} 
.hide3{
  display: none;
}
.tab_panel3{
  width: 1000px;
}
/*shoplist*/
.shoplist{
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}
.shoplistbox{
  width: 100%;
  margin: auto;
}
.topturn{
  width: 1000px;
  padding: 1% 0;
  border-top: dashed black 1px;
  border-bottom: dashed black 1px;
  display: inline-flex;
  margin: auto;
}
.shoplistbox h3{
  font-size: 2.6rem;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
  margin: 2% 0;
  border-bottom: solid black 2px;
  padding: 2% 0;
  background-color: rgb(212, 196, 172);
}
.searchbox i{
  width: 250px;
  text-align: left;
  display: block;
  margin-bottom: 1%;
  font-size: 3.2rem;
  display: inline-flex;
}
.searchbox p{
  width: 200px;
  text-align: left;
  display: block;
  margin-bottom: 1%;
  font-size: 1.8rem;
  padding-top: 8px;
  padding-left: 10px;
  font-family: 'Roboto Slab', serif;
}
.searchcity{
  width: 250px;
  height: 50px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding: 1% 0;
}
.searchs{
  width: 1000px;
  position: relative;
}
.searchbox{
  width: 1000px;
  padding-bottom: 300px;
}
.searchs i{
  width: 250px;
  height: 40px;
  text-align: left;
  display: block;
  margin-bottom: 1%;
  font-size: 3.2rem;
  display: inline-flex;
  position: absolute;
  top: 10px;
  border-bottom: solid black 2px;;
}
.searchs p{
  width: 200px;
  text-align: left;
  display: block;
  margin-bottom: 1%;
  font-size: 1.8rem;
  padding-top: 8px;
  padding-left: 10px;
  font-family: 'Roboto Slab', serif;
}
.search_container{
  box-sizing: border-box;
  display: block;
  padding: 1px 10px;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  overflow: hidden;
  background: white;
  border: solid black 1px;
  margin-top: 5px;
}
.search_container input[type="text"]{
  border: none;
  height: 3em;
  background: white;
  font-size: 1.4rem;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-size: 2rem;
  border: none;
  background: none;
  color: black;
  height: 1px;
  outline : none;
  font-family: none;
}
.search_container ::-webkit-input-placeholder {
  color: rgba(163, 163, 163, 0.877);
}
.cp_tab *, .cp_tab *:before, .cp_tab *:after {
	-webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cp_tab {
  width: 250px;
  height: 290px;
  margin-top: 4%;
  position: relative;
  border-bottom: solid black 2px;
}
.yazirusi::before{
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 1.4rem;
  display: none;
}
.cp_tab input[type='radio'] {
	margin: 0;
	padding: 0;
  border: none;
  border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
          appearance: none;
  display: none;
}
.cp_tab .cp_tabpanel{
  display: none;
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(10):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(12):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6){
	display: block;
}
.cp_tab .cp_tabpanels{
  position: absolute;
  top:0;
  display: block;
  left: 250px;
}
.cp_tab > input + label{
	position: relative;
  z-index: 100;
  display: block;
  width: 180px;
  top: 50px;
  height: 40px;
  padding: 4% 0;
  padding-left: 20%;
  cursor: pointer;
	border-right: 0;
  font-size: 1.4rem;
  border-top: solid rgb(53, 47, 47) 1px;
  transition: 10s;
}
.cp_tab > input + label:last-of-type {
	margin-bottom: 100px;
}
.cp_tab > label:hover,
.cp_tab > input:focus + label{
  color: black;
  text-decoration: underline;
  font-size: 1.4rem;
  box-shadow: rgb(100, 100, 100);
}
.yazirusi:hover:before{
  display: block;
  z-index: 50;
  position: absolute;
  left: 30px;
  font-size: 2rem;
}
.cp_tab > input:checked + label {
	border-color: #000000;
}
.cp_tab .cp_tabpanel {
  position: absolute;
  padding: 20px 40px;
  width: 700px;
  height: 850px;
  background: white;
  left: 30px;
  box-shadow: 0 0 5px rgb(100, 100, 100);
  border-radius: 8px;
  top: -150px;
}
.cp_tabpanel h4{
  width: 600px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  text-decoration: initial;
  text-align: left;
  padding: 2% 10%;
  font-size: 2.4rem;
  margin: 0 auto;
}
.tokai1{
  width: 600px;
  height: 250px;
  border-bottom: dashed black 1px;
  position: relative;
}
.tokai1 h2{
  width: 400px;
  font-size: 1.6rem;
  position: absolute;
  top: 20px;
  left: 60px;
}
.tokai1 p{
  width: 230px;
  font-size: 1.4rem;
  position: absolute;
  top: 150px;
  left: 50px;
}
.kanto1{
  width: 600px;
  height: 250px;
  border-bottom: dashed black 1px;
  position: relative;
}
.kanto1 h2{
  width: 400px;
  font-size: 1.6rem;
  position: absolute;
  top: 20px;
  left: 60px;
}
.kanto1 p{
  width: 230px;
  font-size: 1.4rem;
  position: absolute;
  top: 150px;
  left: 50px;
}
.tokai1 img{
  width: 300px;
  height: 200px;
  margin-left: 50px;
  position: absolute;
  top: 20px;
  right: 5px;
}
.kanto1 img{
  width: 300px;
  height: 200px;
  margin-left: 50px;
  position: absolute;
  top: 20px;
  right: 5px;
} 
/*フッター*/
.footerbox{
  width: 100%;
  height: 500px;
  background-color: #7f7f7f;
}



 























 /*スマホ*/
   