*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    color: #000c15;
    background-color: #e8e5e3;
}
/*ヘッダー*/
 .header{
   position: fixed;
   width: 100%;
   z-index: 5;
 } 
 .headerbox{
    background-color: #e8e5e3;
    width: 100%;
    height: 170px;
    text-align: center;
  
  }
  .submenu{
    font-size: 1.5rem;
    margin: 1%;
    position: absolute;
    left: 0;
    top:10px;
  }
  .boxlogo {
    background-color: #e8e5e3;
    width: 1000px;
    margin: auto;
  }
  .logoimg {
    width: 270px;
    height: 130px;
    margin-top: 1%;
  }
  .boxmenu{
    width: 100%;
    margin: auto;
    background-color: #e8e5e3;
  }
  ul.inner{
    margin: 0 auto;
    width: 1000px;
    border-bottom: solid black 1px;
    display: flex;
  }
  ul.inner a{
    text-decoration: none;
    color: #07351c;
    display: block;
  }
  ul.inner a:hover{
    color: teal;
  }
  ul.inner li{
    font-size: 2rem;
    padding: 0 4%;
    font-family: 'Amiri', serif;
    margin: auto;
    list-style: none;
    position: relative;
    transition: 0.5s;
    box-sizing: border-box;
  }
  ul.inner li:hover{
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    transform: translateY(-4px);
    text-decoration: underline;
  }
  ul.inner li ul{
    list-style: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0
  }
  ul.inner li ul li {
      overflow: hidden;
      width: 100%;
      height: 0;
      color: #fff;
      transition: .2s;
      -moz-transition: .2s;
      -webkit-transition: .2s;
      -o-transition: .2s;
      -ms-transition: .2s;
      transition: .2s;
    }
  ul.inner li:hover ul {
      display: block;
    }
  ul.inner li:hover ul li{
      overflow: visible;
      height: 38px;
    }
  ul.inner li:hover ul li:first-child{
      border-top: 0;
    }
  ul.inner li:hover ul li:last-child{
      border-bottom: 0;
    }
  ul.inner li ul li a {
      padding: 13px 15px;
      background: rgba(255, 255, 255, 0.815);
      text-align: left;
      font-size: 12px;
      font-weight: normal;
    }
  ul.inner li:hover > ul > li {
      overflow: visible;
      height: 40px;
    }
    
  .contactbox{
    width: 100%;
  }
  ul.subcontact{
    width: 150px;
    margin: 1%;
    position: relative;
  }
  ul.subcontact li{
    height: 50px;
    font-size: 2rem;
    color: black;
    z-index: 2;
    padding: 5% 0;
    list-style: none;
    display: flex;
    -webkit-transition: all 0.2s;
	  transition: all 0.2s;
  }
  ul.subcontact li :hover{
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    transform: translateY(-4px);
  }
  ul.subcontact li a{
    width: 100%;
    height: 0;
    position: absolute;
    overflow: hidden;
    background-color: blue;
  }
  ul.subcontact li a:hover{
    height: 100px;
    width: 100%;
    background-color: blue;
  }
   
  /*メイン*/
  .mainbox{
    padding-top: 165px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    box-sizing:border-box；
  }
  .slider{
    margin: 0 auto;
    width: 1200px;
    height: auto;
    z-index: 3;
    opacity: 0;
    transition: 3s;
}
  .slick-initialized{
    opacity: 1;
} 
  .slider img{
    text-align: center;
    width: 100%;
    z-index: 3;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    margin: auto;
    
}
  .sliderimg{
    width: 1000px;
    height: 450px;
    margin: auto;
    padding: 3%;
    object-fit: cover;
  }

/*slick setting*/

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow{
  position: absolute;
  top: 45%;
  margin-top: -15px;
}
.prev-arrow{
  left: 110px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid rgb(185, 185, 185);
  border-top: 35px double transparent;
  border-bottom: 35px double transparent;
  z-index: 7;
}
.prev-arrow:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
}
.next-arrow{
  right: 110px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 20px solid rgb(185, 185, 185);
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}
.feature{
  width: 1000px;
  margin: auto;
  box-sizing:border-box
}
.featurebox{
  border-top: solid black 1px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.featurebox h2{
  width: 100%;
  font-size: 2rem;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
}
.submenu2{
  list-style: none;
}
ul.slider2{
  width: 100%;
  z-index: 3;
  padding: 4% 0;
  margin: auto;
}
.sliderimg2{
  width: 100%;
  height: auto;
  
}
ul.slider2 li{
  padding: 0 25px;
  margin: auto;
}
ul.slider2 img{
  margin: auto;
  text-align: center;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slide2-arrow{
  position: absolute;
  top: 45%;
  margin-top: -15px;
}
button:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
}
.prev2-arrow{
  left: 0px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 7;
}
.next2-arrow{
  right: 0px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.staffstyle{
  width: 1000px;
  margin: auto;
  box-sizing:border-box
}
.stylebox{
  border-top: solid black 1px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2% 0;
}
.stylebox h2{
  width: 100%;
  font-size: 2rem;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
}
ul.slider3{
  width: 90%;
  z-index: 3;
  padding: 4% 0;
  margin: auto;
}
ul.sliderimg3{
  width: 100%;
  height: auto;
  
}
ul.slider3 li{
  padding: 0 8px;
  margin: auto;
}
ul.slider3 img{
  margin: auto;
  text-align: center;
  height: 185px;
  width: 135px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  
}

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide3-arrow{
  position: absolute;
  top: 45%;
  margin-top: -15px;
}
.prev3-arrow{
  left: -30px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 7;
}
.next3-arrow{
  right: -30px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.news{
  width: 1000px;
  margin: auto;
}
.news-2
  {border-top: solid black 1px;
   width: 100%;
   margin: auto;
   padding: 2% 0;
  }
.newsbox{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2% 0;;
  display: flex;
}
.newsmain{
  width: 1000px;
  height: 650px;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  left: 10px;
}
.newsmain img{
  width: 100%;
}
.newsimg1{
  width: 250px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  left: 3px;
  border-radius: 5px;
}
.newsimg1:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
  border: solid black 2px;
}
.newsimg1 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.newsimg2{
  width: 250px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  bottom: 0;
  left: 3px;
  border-radius: 5px;
}
.newsimg2:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
  border: solid black 2px;
}
.newsimg2 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.newsimg3{
  width: 250px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  top: 0;
  right: 25px;
  border-radius: 5px;
}
.newsimg3:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
  border: solid black 2px;
}
.newsimg3 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.newsimg4{
  width: 250px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  transition: .3s;
  position: absolute;
  top: 330px;
  right: 25px;
  border-radius: 5px;
}
.newsimg4:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
  border: solid black 2px;
}
.newsimg4 img{
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin: 20px 0;
}
.news h2{
  font-size: 2rem;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: auto;
}
.newssub{
  background-color: white;
  width: 800px;
  height: 650px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  margin-right: 10px;
}
.shoplist{
  width: 1000px;
  height: 800px;
  margin: 0 auto;
  padding: 2% 0;
}
.shoplistbox{
  width: 100%;
  border-top: solid black 1px;
  margin: auto;
  position: relative;
}
.shoplistbox h3{
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto Slab', serif;
}
ul.listbox{
  background-color:white;
  width: 700px;
  height: 700px;
  margin: 7% auto;
  list-style: none;
  position: absolute;
  top: 0;
  right: 15px;
}
.searchbox{
  margin: 5% 2%;
}
.search_container{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.6em;
  width: 250px;
  overflow: hidden;
  background: white;
  border: solid black 1px;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  background: white;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: black;
  position: absolute;
  height: 2.5em;
  right: 8px;
  top: -5px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: rgba(163, 163, 163, 0.877);
}
.search{
  width: 400px;
  height: 400px;
  margin:  4% 0;
}
.searchbox2{
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
.search ul{                         
  width: 250px;
  list-style: none;
}
.searchbox2 a{
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: black;
}     
ul.searchbox2 li{                           
	line-height: 4rem;
  text-align: center;
  background-color: white;
  font-size: 1.4rem;
  border-radius: 5px;
}
.search ul li ul{                  
  display: none; 
}                     
ul.searchbox2 li:hover ul {                   
  display:block;
}                       
ul.searchbox2 li:hover{                     
  border-bottom:none;
}                 
ul.searchbox2 li:hover{                      
  background-color:rgba(255, 255, 255, 0.575);
}               
ul.searchbox2 li:hover ul li{                 
  border-left:none; 
}                   
ul.searchbox2 li:hover ul a{                 
	display:block;                       
  background-color: rgba(255, 255, 255, 0.575);
}             
li.searchbox2 li ul li:hover{               
  border-bottom:1px solid #000;
} 
.searchbox2 li ul li:hover ul li:last-child{    
  border-bottom:1px solid #000;
}       
/*フッター*/
.footerbox{
  width: 100%;
  height: 1000px;
  background-color: #7f7f7f;
}

  
 

  
 























 /*スマホ*/
   